.App {
  text-align: center;

}

body{
  font-family: 'Courier New', Courier, monospace;
  background-image: url(../public/bball-bg.jpg);
  background-size: cover;
}

input{
  padding: 1em;
  border-radius: 5px;
}

form{
  padding: 1em;
}

.player-card{
  background-color:burlywood;
  border: solid black 1px;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  text-align: left;
  padding: 1em;
  border-radius: 10px;
  
}

span{
  font-size: 2rem;
  font-weight: 500;
  text-align: center;
}